<h1>Images</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image path</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to image.name, image %></td>
        <td><%= image_tag image.image_path %></td>
        <td>
          <%= link_to 'Edit', edit_image_path(image) %> |
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
